* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --bg-color: rgb(219, 219, 219);
  --primary-text: white;
  --secondary-text: #333;
  --accent-color: #301934;
  --hover-accent: #bbb;
  --btn-border: black;
  --btn-hover-bg: black;
  --btn-hover-text: white;
  --footer-text: black;
}

body.darkmode {
  --bg-color: #121212;
  --primary-text: #ffffff;
  --secondary-text: #cccccc;
  --accent-color: #a366c1;
  --hover-accent: #e0b3ff;
  --btn-border: #f1f1f1;
  --btn-hover-bg: #ffffff;
  --btn-hover-text: #121212;
  --footer-text: #cccccc;
}

#theme-switch {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 3rem;
  background-color: var(--primary-text);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--bg-color);
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0;
  z-index: 1000;
}

.logo {
  color: var(--primary-text);
  font-size: 1.2rem;
  font-weight: 600;
  text-wrap: nowrap;
  transition: 0.3s ease-in-out;
}

.logo-hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  font-size: 1.1rem;
}

li a {
  position: relative;
  color: var(--primary-text);
  font-weight: 300;
}

.top-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.top-icons a i {
  color: var(--primary-text);
  font-size: 1.5rem;
  transition: transform 0.2s ease-in-out;
}

.top-icons a i:hover {
  transform: scale(1.2);
  color: var(--hover-accent);
}

#menu-icon {
  font-size: 2rem;
  display: none;
}

section {
  min-height: 100vh;
  padding: 2rem 12%;
  width: 100%;
  position: relative;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-description {
  font-size: 1.2rem;
  font-weight: 300;
  color: var(--secondary-text);
  max-width: 600px;
  text-align: center;
  line-height: 1.6;
}

.about .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.info-box h3 {
  font-size: 1.8rem;
  font-weight: 500;
  opacity: 0.8;
}

.info-box h1 {
  font-size: 4rem;
  font-weight: 600;
}

.btn-group {
  display: flex;
  gap: 1rem;
}

.btn {
  position: relative;
  border: none;
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
  color: var(--accent-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.4rem;
  text-wrap: nowrap;
  transition: color 0.2s ease-in-out;
}

.underline-text {
  position: relative;
  font-weight: bold;
  color: var(--accent-color);
}

.underline-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  transition: width 0.3s ease-in-out;
}

.btn:hover .underline-text::after {
  width: 100%;
}

.section-title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.experience-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
}

.grid-card {
  border: 2px solid var(--btn-border);
  border-radius: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.grid-card:hover {
  transform: scale(1.02);
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

.grid-card i {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.grid-card span {
  font-size: 1.5rem;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 3rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.projects-card {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  border: 2px solid var(--btn-border);
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.projects-card:hover {
  transform: scale(1.02);
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-text);
}

.projects-card:hover .btn {
  border: 2px solid var(--btn-hover-text);
  color: var(--btn-hover-text);
}

.projects-card:hover .btn:hover {
  border: 2px solid var(--btn-hover-text);
  background-color: var(--btn-hover-text);
  color: var(--btn-hover-bg);
}

.projects-card .btn i.fa-github {
  font-size: 1.75rem;
  color: var(--accent-color);
}

.projects-card h3 {
  font-size: 2rem;
  font-weight: 500;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  margin-top: 5rem;
}

.input-box input {
  border-radius: 3rem;
  border: 2px solid var(--btn-border);
  padding: 2rem 8rem;
  font-size: 3rem;
}

.input-box input::placeholder {
  font-size: 3rem;
}

.input {
  position: relative;
}

.input i {
  position: absolute;
  font-size: 4rem;
  top: 50%;
  left: 10px;
  transform: translate(50%, -50%);
}

.footer-name {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  font-weight: 500;
  font-size: 1rem;
  color: var(--footer-text);
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-name img.footer-avatar {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
}

@media (max-width: 1280px) {
  header {
    padding: 1rem 2rem;
    gap: 2rem;
  }
  .about .about-container {
    gap: 3rem;
  }
  .experience-info {
    flex-direction: column;
  }
  .input-box input {
    padding: 2rem 5rem;
    font-size: 2.5rem;
  }
  .input input::placeholder {
    font-size: 2.5rem;
  }
  .input-box i {
    font-size: 2.5rem;
  }
}

@media (max-width: 768px) {
  header {
    gap: 1rem;
    padding: 1rem 1rem;
  }
  header .logo {
    font-size: 1rem;
  }
  header .visit-btn {
    display: none;
  }
  .about-container {
    flex-direction: column;
  }
  .input-box .input {
    padding: 1rem 2rem;
    font-size: 1.8rem;
  }
  .input-box input::placeholder {
    font-size: 1.5rem;
  }
  .input-box i {
    display: none;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 600px) {
  header #menu-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 100%;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 3rem;
    display: none;
  }
  .nav-links li {
    margin-top: 1.5rem;
    padding: 1rem;
  }

  .nav-links.active {
    display: block;
  }

  header {
    padding: 1rem 5rem;
    gap: 8rem;
  }

  header .logo {
    font-size: 1.5rem;
  }

  .input-box input {
    padding: 9.5rem 3rem;
    width: 80%;
    font-size: 1.5rem;
  }

  .input-box .input::placeholder {
    font-size: 1, 5rem;
  }

  footer ul {
    gap: 1rem;
  }
}
